{% load i18n static %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ header }}</h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'main' %}">{% trans 'Main' %}</a></li>
            {% for item in headers %}
                {% if forloop.last %}
                    <li class="active">{{ item.name }}</li>
                {% else %}
                    <li><a href="{{ item.url }}">{{ item.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
</div>