{% extends 'main/main.html' %}
{% load static i18n %}

{% block contact_class %}active{% endblock %}

{% block main %}
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">404
                    <small>Page Not Found</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">404</li>
                </ol>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-12">
                <p class="error-404">404</p>
                <p class="lead">The page you're looking for could not be found.</p>
                <p>Here are some helpful links to help you find what you're looking for:</p>
                <ul>
                    <li><a href="#">Home</a>
                    </li>
                    <li><a href="#">About</a>
                    </li>
                    <li><a href="#">Services</a>
                    </li>
                    <li><a href="#">Contact</a>
                    </li>
                    <li><a href="#">Blog</a>
                    </li>
                    <li><a href="#">Other</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
    <!-- /.container -->
{% endblock main %}
