{% extends 'main/main.html' %}
{% load i18n staticfiles %}

{% block articles_class %}active{% endblock %}
{% block add_url %}{% url 'main' %}{%endblock%}

{% block extra_css %}
    <style>
        body {
            padding-top: 70px;
        }
        .tags-btn {
            margin-bottom: 20px;
        }
    </style>
{% endblock extra_css %}

{% block main %}

    {% block slider %}{% endblock %}
    <div class="container">
      <div class="row">
        <div id="content" class="hfeed col-xs-12 col-sm-8 col-md-8 col-lg-8">
          {% block breadcrumbs %}{% endblock %}
          {% block content %}
          {% endblock content %}
        </div>
        <div id="sidebar" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          {% block sidebar %}
          {% endblock sidebar %}
        </div>
      </div>
    </div>
{% endblock %}


